body{
	margin:0;
	background: #eee;
	font-family: 'PT Sans', sans-serif;

	/*font-family: sans-serif;*/
	font-size: 22px;
	font-weight: 100;
	line-height: 30px;

	/*min-width:1000px;*/
	background-repeat: no-repeat;

	overflow-x:hidden;
}

#intro_container, #outro_container{
	width:100%; height:480px;
	overflow: hidden;
	position: relative;
	background: #000;
}

#intro, #outro{
	position: absolute;
	/*width:0; height:0;*/
	margin: auto;
	color: white;
	text-align: center;
	top:0; bottom:0; left:0; right:0;
}

#arbolito{
	position: absolute;
	/*left:700;*/
	text-align: right;
	top:0; bottom:0; left:0; right:10;
	font-size: 80px;
}

#story{
	position: absolute;
	/*left:700;*/
	/*top: 105;*/
	text-align: right;
	top:105; bottom:0; left:0; right:10;
	font-size: 35px;
}

#intro > #intro_background, #outro > #outro_background{
	display: block;
	position: absolute;
	left:-640px; top:-275px;
	width:1280px; height:550px;
	border: none;
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text{
	margin: 50px auto;
	width:800px;
}

.graphic{
	width: 100%;
	padding: 10px;
	/*background: #222;*/
	 background: #ffffff; 
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.graphic > #play_title{
	color: #fff;
	margin-top: 30px;
	text-align: center;
}

.instruction{
	text-align:center; font-weight:bold; font-size:25px
}

.radiogroup {
	display: flex;
	justify-content: center;
	position: relative;
	right: 15px; /* box is being weird... */
}

label {
	margin-left: 10px;
}

.callout-box {
	position: relative;
}

.callout {
	position: absolute;
	width: 25%;
	text-align: center;
	left: 5%;
	top: 30%;
}

.slidecontainer {
	width: 70%;
}




